.button-click {
  outline: var(--off-white) solid 1px;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1.6rem;
  box-shadow: inset 0 0 0 1px var(--off-white);

  background-color: transparent;
  color: var(--off-white);

  font-weight: 600;
  font-size: 1.8rem;
  font-family: "Quicksand";

  text-transform: uppercase;
  letter-spacing: 1px;

  transition: all 0.3s ease;
  @include respond(sm-mob) {
    letter-spacing: 0.5px;
    padding: 0.6rem 1.2rem;
    font-size: 1.4rem;
  }

  &:hover {
    color: var(--off-black-3);
    background-color: var(--off-white);
  }
}

.section-button {
  outline: var(--off-black-3) solid 1px;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1.6rem;
  box-shadow: inset 0 0 0 1px var(--off-black-3);

  display: block;
  background-color: transparent;
  color: var(--off-black-3);

  font-weight: 600;
  font-size: 1.4rem;

  margin-top: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;

  transition: all 0.3s ease;
  @include respond(big-mob) {
    letter-spacing: 0.5px;
    padding: 0.6rem 1.2rem;
    margin-top: 1.6rem;
  }

  &:hover {
    color: var(--off-white);
    background-color: var(--off-black-3);
  }
}

.menu-button {
  color: var(--off-black-3) !important;
  padding: 0rem 1.2rem !important;
  font-size: 1.2rem !important;
  height: 3.2rem !important;

  &:hover {
    color: var(--brown-light) !important;
    background-color: var(--off-black-3) !important;
  }
}
